<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur3e_robot">

  <!-- Include the main UR3e robot macro -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  
  <!-- Include FT sensor -->
  <xacro:include filename="$(find ur_sim)/urdf/inc/ft_sensor_sim.ros2_control.xacro"/>
  
  <!-- Robot parameters -->
  <xacro:arg name="name" default="ur"/>
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/ur3e/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/ur3e/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/ur3e/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/ur3e/visual_parameters.yaml"/>
  
  <!-- Simulation parameters -->
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  <xacro:arg name="use_fake_hardware" default="true"/>
  <xacro:arg name="fake_sensor_commands" default="false"/>
  <xacro:arg name="sim_gazebo" default="false"/>
  <xacro:arg name="sim_ignition" default="false"/>
  
  <!-- TF frame parameters -->
  <xacro:arg name="tf_prefix" default="$(arg prefix)"/>
  
  <!-- Instantiate UR3e -->
  <xacro:ur_robot 
                  joint_limits_parameters_file="$(arg joint_limit_params)"
                  kinematics_parameters_file="$(arg kinematics_params)"
                  physical_parameters_file="$(arg physical_params)"
                  visual_parameters_file="$(arg visual_params)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

</robot>
